.btn-box-admin{
    width: 125px;
    float: right;
    margin-bottom: 20px;
    .button{
        padding: 10px;
        font-size: 12px;
    }
    .button:hover{
        padding: 10px;
        font-size: 12px;
    }
}