.button{
    padding: 14px;
    font-size: 16px;
    border: 2px solid rgb(255, 102, 0);
    background-color: rgb(255, 102, 0);
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    padding: 12px;
    color: rgb(255, 102, 0);
    border: 2px solid rgb(255, 102, 0);
    transition-duration: 1s;
}